@charset "utf-8";

.logo-img {
    position: absolute;
    top: -30px;
    left: -20px;
}

#input {
    position: absolute;
    top: 70px;
    border: 0;
    background-color: #bbb;
    color: #fff;
}

.result {
    width: calc(28em - 2.5px);
    height: 50px;
    height: 160px;
    overflow: scroll;
    background-color: #bbb;
    color: #fff;
    margin-top: 320px;
}

.run {
    position: absolute;
    top: 20px;
    left: 180px;
    border: 0;
    background-color: #bbb;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

table {
    position: absolute;
    top: 500px;
    left: 20px;
}